@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin flexInfo() {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline-end: 2rem;
  padding-inline-start: 2rem;
}

$shadow-effect: rgba(95, 95, 95, 0.482);
$orange: rgb(255, 140, 0);
$border-btn: 1rem;
body {
  font-family: "Nunito", sans-serif, Arial;
}

header {
  @include flexInfo();
  box-shadow: 0px 1px 5px $shadow-effect;
  nav {
    ul {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 5rem;
    }
    img {
      display: none;
    }
  }
}

.header-image {
  height: 4rem;
}

.header-nav {
  display: flex;
  justify-content: space-around;

  ul {
    li {
      font-weight: 800;
    }
    button {
      font-weight: 800;
      font-size: 1rem;
    }
  }
}

section.activities-images {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  div.info-container {
    @include flexInfo();
  }
  div.info-container {
    margin-block-start: 4rem;
  }
  div.image-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 350px;
    span.pet-img {
      width: 30%;
      height: inherit;
      img {
        width: 100%;
        height: inherit;
        border-radius: 15%;
      }
    }
  }
}

header {
  nav {
    ul {
      li:hover {
        color: $orange;
        text-decoration: underline;
        text-underline-offset: 1.3rem;
        cursor: pointer;
      }
    }
  }
}

.text-orange {
  color: $orange;
}

.text-big {
  font-size: 3rem;
  font-weight: 800;
}

.btn {
  border-bottom-left-radius: $border-btn;
  border-top-right-radius: $border-btn;
  border-bottom-right-radius: $border-btn;
  padding: 0.7rem;
  color: white;
  background-color: $orange;
  border: 2px solid $orange;
  font-family: "Nunito";
  font-weight: 800;
  text-transform: uppercase;
}
.btn:hover {
  background-color: transparent;
  border: 2px solid $orange;
  color: $orange;
}

.header-btn {
  border: 2px solid $orange;
  color: black;
  background-color: transparent;
}
.header-btn:hover {
  color: white;
  background-color: $orange;
  border: 2px solid $orange;
}

.dropdown {
  display: inline-block;
  position: relative;
}

button {
  font-family: "Nunito";
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
}

button:hover {
  color: $orange;
}

.dropdown-options {
  display: none;
  position: absolute;
  overflow: auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}

.dropdown:hover .dropdown-options {
  display: block;
  padding-bottom: 1rem;
}

.dropdown-options a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
  width: 13rem;
  padding: 10px;
  border-bottom: 1px solid gray;
}

.dropdown-options a:hover {
  color: $orange;
}

div.dropdown-options {
  a {
    margin: 0;
  }
}

.arrow:after {
  content: "\25be ";
}

.img__wrap {
  position: relative;
  height: 200px;
  width: 257px;
}

.img__description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(233, 233, 233, 0.1);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  border-radius: 15%;
  /* transition effect. not necessary */
  transition: opacity 0.2s, visibility 0.2s;
}

.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
  cursor: pointer;
}

.center-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 850px) {
  header {
    nav {
      ul {
        gap: 2rem;
      }
    }
  }
}

@media (max-width: 680px) {
  header {
    nav {
      ul {
        visibility: hidden;
      }
      img {
        display: inline-block;
        width: 2rem;
      }
      img:hover {
        cursor: pointer;
      }
    }
  }
  section.activities-images {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: auto;

    .info-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-inline-end: 2rem;
      padding-inline-start: 2rem;
      flex-direction: column;
      div {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }
    }
    div.image-container {
      display: flex;
      flex-direction: column;
      height: auto;
    }
  }
  section.activities-images {
    div.image-container {
      margin-block-end: 2rem;
      margin-block-start: 2rem;
      span.pet-img {
        width: 70%;
        height: 100%;
        margin-block-end: 1rem;
        margin-block-start: 1rem;
      }
    }
  }
} ;
